<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <!-- force="true": inherited host values must never select live services. tests/bootstrap.php also copies them into $_SERVER. -->
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_URL" value="http://localhost" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="DB_USERNAME" value="" force="true"/>
        <env name="DB_PASSWORD" value="" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="MAIL_USERNAME" value="" force="true"/>
        <env name="MAIL_PASSWORD" value="" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="FILESYSTEM_DISK" value="local" force="true"/>
        <env name="REDIS_PASSWORD" value="" force="true"/>
        <env name="AWS_ACCESS_KEY_ID" value="" force="true"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="" force="true"/>
        <env name="POSTMARK_API_KEY" value="" force="true"/>
        <env name="RESEND_API_KEY" value="" force="true"/>
        <env name="SLACK_BOT_USER_OAUTH_TOKEN" value="" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
